@model IEnumerable<NurayMarhanPortalGroup.Entities.Entities.Category>

@{
    ViewData["Title"] = "GetAllCategories";
}

<h4>Tüm Kategoriler</h4>
<hr />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Kategori Adı
            </th>

            <th>
                Durum
            </th>
            <th>
                Eklenme Tarihi
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "UpdateCategory", new { id = item.ID }) |
                    @Html.ActionLink("Sil", "DeleteCategory", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>
<a class="btn btn-info m-1" asp-controller="Category" asp-action="Index">Kategori Ekle</a>